<div ng-controller="vozilaCtrl">
	<h1><u><b>Vehicles</b></u></h1>
		<br>
		<br>
		<h2>Entering new vehicle data</h2>					
		<form>
			<div class="form-group">
				<label for="godiste">Year of production</label>
				<input id="godiste" class="form-control" ng-model="newVozilo.godiste"/>
			</div>
			<div class="form-group">
				<label for="gorivo">Fuel type</label>
				<input id="gorivo" class="form-control" ng-model="newVozilo.gorivo"/>
			</div>
			<div class="form-group">
				<label for="markaModel">Make and model</label>
				<input id="markaModel" class="form-control" ng-model="newVozilo.markaModel"/>
			</div>
			<div class="form-group">
				<label for="motTyp">Engine type</label>
				<input id="motTyp" class="form-control" ng-model="newVozilo.motTyp"/>
			</div>
			<div class="form-group">
				<label for="registracija">Plates</label>
				<input id="registracija" class="form-control" ng-model="newVozilo.registracija"/>
			</div>
			<div class="form-group">
				<label for="klijent">Vehicle owner</label>
				<select id="klijent" class="form-control" ng-model="newVozilo.klijentId">
					<option ng-repeat="klijent in klijenti" value="{{klijent.id}}">{{klijent.ime}}&nbsp;{{klijent.prezime}}&nbsp;{{klijent.telefon}}</option>
				</select>
			</div>
			<button class="btn btn-primary" ng-click="doAdd()">Add</button>
			
		</form>
		<br>
		<h2>Vehicle search</h2>
		<form>
			<div class="form-group">
				<label for="registracija">Plates</label>
				<input id="registracija" class="form-control" ng-model="searchParams.registracija"/>
			</div>
		
			<div class="form-group">
				<label for="klijent">Client</label>
				<select id="klijent" class="form-control" ng-model="searchParams.klijentId">
					<option ng-repeat="klijent in klijenti" value="{{klijent.id}}">{{klijent.ime}}&nbsp;{{klijent.prezime}}&nbsp;{{klijent.telefon}}</option>
				</select>
			</div>
							
			<button class="btn btn-primary" ng-click="doSearch()">Search</button>
			
		</form>
		
		
		<div class="btn-group float-right">
			<button ng-disabled="pageNum == 0" ng-click="changePage(-1)" class="btn btn-info">Previous</button>
			<button ng-disabled="pageNum >= totalPages - 1" ng-click="changePage(1)" class="btn btn-info">Next</button>
		</div>
		
		<br>
	
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Year of make</th>
					<th>Fuel type</th>
					<th>Make and model</th>
					<th>Engine type</th>
					<th>Plates</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="vozilo in vozila">
					<td>{{vozilo.godiste}}</td>
					<td>{{vozilo.gorivo}}</td>
					<td>{{vozilo.markaModel}}</td>
					<td>{{vozilo.motTyp}}</td>
					<td>{{vozilo.registracija}}</td>
					 
					<td>
						<!-- <button class="btn btn-primary" ng-click="doReserve(Vozilo.id)">Rezerviši</button> -->
						<button class="btn btn-warning" ng-click="goToEdit(vozilo.id)">Izmeni</button>
						<button class="btn btn-danger" ng-click="doDelete(vozilo.id)">Obriši</button>
					</td>
				</tr>
			</tbody>
		</table>

</div>